.controls {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.matrix {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.matrix-row {
  display: flex;
  gap: 8px;
}

.matrix-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f0f0f0;
  }

  &.selected {
    background-color: #3f51b5;
    color: white;
  }
}

.add-column-btn {
  width: 50px; /* Match this to the width of the matrix cells */
  text-align: center;
  padding: 10px;
  background-color: transparent; /* to avoid any visual inconsistencies */
  border: none;
}