<div>
    <label>Rows: <input type="number" [(ngModel)]="rowsInput" /></label>
    <label>Columns: <input type="number" [(ngModel)]="columnsInput" /></label>
    <button (click)="generateMatrix()">Generate Matrix</button>
  </div>
  
  <div class="matrix">
    <div *ngFor="let row of matrix; let rowIndex = index" class="matrix-row">
      <span
        *ngFor="let col of row; let colIndex = index"
        class="matrix-cell"
        [class.selected]="isSelected(rowIndex, colIndex)"
        (click)="togglePositionSelection(rowIndex, colIndex)">
        {{ rowIndex + 1 }},{{ colIndex + 1 }}
      </span>
    </div>
  </div>
  